main {
    .main_body {
        margin-bottom: 2rem;
    }
    p{
        padding-left: 10px;
    }
    width: 64%;
    float: left;
    @media only screen and (max-width: 800px) {
        float: none;
        width: 100%;
    }
    .video {
        width: 100%;
        margin-bottom: 1rem;
    }
    .video_info {
        border-top: 1px solid #cccccc;
        padding: 10px 0;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 1rem;
        .share {
            width: 80%;
            float: left;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
            margin-right: 10px;
        }
        ul {
            list-style: none;
            display: inline-block;
            vertical-align: middle;
            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                img {
                    width: auto;
                    height: 20px;
                    display: inline-block;
                    vertical-align: middle;
                    transition: all ease-out .25s;
                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
        .length {
            width: 20%;
            float: right;
            text-align: right;
        }
    }
    .video_list {
        width: 100%;
        height: 120px;
        overflow-y: scroll;
        margin-bottom: 100px;
        ol {
            padding-left: 20px;
            li {
                padding: 10px 0;
                border-bottom: 1px solid #cccccc;
                img {
                    width: 35px;
                    margin: 0 20px;
                    cursor: pointer;
                    transition: all ease-out .25s;
                    &:hover {
                        opacity: .5;
                    }
                }
                .list_length {
                    display: inline-block;
                    float: right;
                    background-color: #000000;
                    color: #ffffff;
                    padding: 4px;
                }
            }
            .active_row {
                background-color: #efefef;
            }
            .row_disabled {
                color: #cccccc;
                .list_length {
                    background-color: #cccccc;
                    color: #efefef;
                }
                img {
                    cursor: default;
                    opacity: .5;
                }
            }
        }
    }
}