footer {
    padding-bottom: 100px;
    .left {
        display: block;
        width: 50%;
        float: left;
        p {
            margin-bottom: .5rem;
            a {
                color: $textColor;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        @media only screen and (max-width: 800px) {
            float: none;
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    .right {
        display: block;
        width: 50%;
        float: right;
        text-align: right;
        ul {
            list-style: none;
            li {
                display: inline-block;
                img {
                    width: 30px;
                    height: 30px;
                    transition: all ease-out .25s;
                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
        @media only screen and (max-width: 800px) {
            float: none;
            width: 100%;
            text-align: left;
        }
    }
}