header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 2rem;
    .logo {
        max-width: 200px;
        display: inline-block;
        vertical-align: middle;
        img {
            width: 100%;
            height: auto;
            transition: all ease-out .25s;
            &:hover {
                opacity: .5;
            }
        }
    }
    .divider {
        display: inline-block;
        vertical-align: middle;
        width: 2px;
        background-color: #000000;
        height: 50px;
        margin: 0 40px;
    }
    h1 {
        display: inline-block;
        vertical-align: middle;
    }
}